/* Selector universal*/
* {
    background-color: cornflowerblue;
}
/*Selector etiqueta*/
h1{
    color: yellow;
}
/*Selector Decendiente*/
h2 i{
    color: brown;
}
/* Selector Clase */
.titulo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: chartreuse;
}
/* Selector id */
#tituloid{
    font-family: Verdana, Tahoma, sans-serif;
    color: darkgoldenrod;
}
/* Selector Multiple, combinacion */
h4,h5{
    color: khaki;
}
/* Especifico */
h6#titulo2{
    margin: 100px;
}
span#c2{
    background-color: green;
    color: lightcoral;
    padding: 20px;
    margin: 20px;
}